<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <h4>Your photo will be submitted for review :</h4>
      <img src=<%= imageUrl %> >
      <h3>Note: If your photo is rejected, we will send you an email asking for you to resubmit</h3>
    </div>
  </body>
</html>
