<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/imagePropertiesValidation.js"></script>
  </head>
  <body>
    <h1>Pro Photo Uploader</h1>
    <div>
      <h2>Read carefully those recommendations before uploading your photo :</h2>
      <ul>
        <li>Photo must be of a single person</li>
        <li>You must be looking at the camera</li>
        <li>You must have your upper torso and shoulders in the photo</li>
        <li>No hats or sunglasses</li>
        <li>Your photo must not be blurry</li>
        <li>Your photo must be at least 200x200 pixels</li>
      </ul>
    </div>
    <div>
        <form name="upload" action="/upload" method="post" enctype="multipart/form-data">
            Select Your Photo <input type="file" name="file" id="file">
            <br>
            <input disabled id="submit" type="submit" name="upload" value="Upload Your Photo" class="btn btn-primary">
        </form>
        <div style="color: red;" id="response"></div>
    </div>
  </body>
</html>
