<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/imagePropertiesValidation.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <h4>Your photo was flagged for one or more of the following reasons :</h4>
        <ul>
            <% reasons.forEach(function(reason) { %>
            <li><%= reason %></li>
            <% }); %>
        </ul>
    </div>
    <div>
        <div>
            <h2>Read carefully those recommendations before uploading your photo :</h2>
            <ul>
                <li>Photo must be of a single person</li>
                <li>You must be looking at the camera</li>
                <li>You must have your upper torso and shoulders in the photo</li>
                <li>No hats or sunglasses</li>
                <li>Your photo must not be blurry</li>
                <li>Your photo must be at least 200x200 pixels</li>
            </ul>
        </div>
        <h3>Please select a new photo:</h3>
        <div style="color: red;" id="response"></div>
        <form name="upload" action="/upload" method="post" enctype="multipart/form-data">
            <span class="btn btn-default btn-file">
                Select Your Photo <input id="file" type="file" name="file">
            </span>
            <br>
            <input disabled id="submit" type="submit" name="upload" value="Upload Your Photo" class="btn btn-primary">
        </form>
        <h3>Or</h3>
        <form id="force-submit" name="force-submit" action="/force-submit" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" id="imageUrl" name="imageUrl" value=<%= imageUrl %>>
            <br>
            <input id="resubmit" type="submit" name="resubmit" value="Submit anyway" class="btn btn-primary">
        </form>
    </div>
  </body>
</html>