<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/dist/cropper.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <h3>Your photo needs to be edited</h3>
      <ul>
          <% reasons.forEach(function(reason) { %>
        <li><%= reason %></li>
          <% }); %>
      </ul>
        <h4>Please edit your photo using the tools below</h4>
        <button id="rotateRight" type="button" class="btn btn-primary">Rotate Right</button>
        <button id="rotateLeft" type="button" class="btn btn-primary">Rotate Left</button>
        <button id="save" type="button" class="btn btn-primary">Save</button>
        <button id="reset" type="button" class="btn btn-primary">Reset</button>
        <span id="size"></span>
        <img id="target" src=<%= imageUrl %> >
        <div id="result"></div>
        <form id="form" name="upload" action="/submit-edited-photo" method="post" enctype="application/x-www-form-urlencoded">
          <textarea hidden id="imageData" name="imageData"></textarea>
          <input type="hidden" id="imageUrl" name="imageUrl" value=<%= imageUrl %>>
          <br>
          <input disabled id="resubmit" type="submit" name="upload" value="Re-Submit" class="btn btn-primary">
        </form>
      <form name="redirection" action="/" method="get">
        <input type="submit" name="home" value="Upload New Photo" class="btn btn-primary">
      </form>
    </div>
  </body>
</html>
<script src="/dist/cropper.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    const image = document.getElementById('target');
    const rotateRightButton = document.getElementById('rotateRight');
    const rotateLeftButton = document.getElementById('rotateLeft');
    const saveButton = document.getElementById('save');
    const resetButton = document.getElementById('reset');
    const result = document.getElementById('result');
    const size = document.getElementById('size');
    const resubmit = document.getElementById('resubmit');

    const minWidth = 200;
    const minHeight = 200;

    var editable = false;

    const cropper = new Cropper(image, {
      aspectRatio: 1,
      viewMode: 1,
      ready: function () {
        editable = true;
      },
      crop: function () {
        const data = cropper.getData();
        size.innerText = 'size : ' + Math.floor(data.width) + 'x' + Math.floor(data.height) + ' pixels ' +
          '(Minimum : ' + minWidth + 'x' + minHeight + ' pixels)'
        if (data.width < minWidth || data.height < minHeight) {
          size.setAttribute('style', 'color: red;');
        }
        else {
          size.setAttribute('style', 'color: green;');
        }
      }
    });
    rotateRightButton.onclick = function () {
      if (!editable) {
        return;
      }
      cropper.rotate(10);
    }
    rotateLeftButton.onclick = function () {
      if (!editable) {
        return;
      }
      cropper.rotate(-10);
    }
    resetButton.onclick = function () {
      if (!editable) {
        return;
      }
      cropper.reset();
    }
    saveButton.onclick = function () {
      if (!editable)
        return;

      const data = cropper.getData();

      if (data.width < minWidth || data.height < minHeight) {
        result.innerText = 'Your image must be at least ' + minWidth + 'x' + minHeight + ' pixels';
        resubmit.setAttribute('disabled', true)
      } else {
        const croppedCanvas = cropper.getCroppedCanvas();
        const rotatedImage = document.createElement('img');
        rotatedImage.src = croppedCanvas.toDataURL();
        document.getElementById('imageData').value = croppedCanvas.toDataURL();
        result.innerHTML = '';
        result.appendChild(rotatedImage);
        resubmit.removeAttribute('disabled');
      }
    }
  });
</script>